@page
@model FinancialManagementSystem.Pages.RegisterThanksModel
@{
    ViewData["Title"] = "RegisterThanks";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h1>Your profile have been registered</h1>

<p>Thanks for registration in our financial management system.</p>
<a asp-page="/Index">Click here to login</a>

